<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <aop:aspectj-autoproxy />

    <bean id="logger" class="org.lab03.Logger">
        <property name="format" value="${time} - ${level} - ${message}"/>
    </bean>

    <!-- <bean id="profiler" class="org.lab03.Profiler">
        <constructor-arg ref="logger" />
    </bean> -->

    <bean id="holder" class="org.lab03.EventHolder" />

    <bean id="event" class="org.lab03.Event" scope="prototype" />
</beans>